:root{
    --instagram: #1e73be;
    --instagram-hover: #15568f;
    --facebook:#3a589d;
    --facebook-hover:#2b4277;
    --youtube: #c33223;
    --youtube-hover: #ac3528;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monaco', sans-serif;
    text-decoration: none;
    list-style: none;
    color: white;
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    width: 100% !important;
    height: 100% !important;
}

.logo{
    width: 62px;
    margin-left: 1.7em;
}

.logo img{
    width: 62px;
    max-height: 91px;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}

header{
    width: 100%;
    display: block;
    background-size: cover;
    background-position: 50% 0;
    position: relative;
}

@keyframes width{
    0%{transform:translateY(-100%)}100%{transform:translateY(0)}
}

@keyframes widthIn{
    0%{transform:translateY(100%)}100%{transform:translateY(0)}
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#container-header{
    background-color: #da9832;
    width: 100%;
    z-index: 30;
    background-size: cover;
    background-position: 50% 0;
    position: relative;
}

.stuck{
    top: 0;
    position: fixed !important;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: width .8s ease;
}

.id-header{
    width: 100%;
    height: 91px;
    
}

.head-header{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    width: 100%;
    height: 100%;
}

.tags{
    position: relative;
    display: inline;
}

.tags:hover::after{
    background-color: #333;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    bottom: -55px;
    color: #fff;
    content: attr(gloss);
    padding: 10px 20px;
    left: 0;
    position: absolute;
    z-index: 98;
    white-space: nowrap;
    animation: fade 0.8s ease;
}

.tags:hover:before{
    border: solid;
    border-color: #0a0a0a transparent;
    border-width: 0 9px 9px 9px;
    bottom: -20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
    animation: fade 1.1s ease;
}

.tags.tag:hover::after{
    left: -150%;
}

.tags.tag:hover::before{
    left: 30%;
}

.head-header ul{
    display: flex;
    align-items: center;
    position: relative;
} 

.head-header li{
    color: #fff;
    position: relative;
    transition: 0.3s;
}

.head-header .contact-time-sdt{
    display: flex;
}


.contact-time-sdt .contact li{
    margin: 0 1em;
    font-size: 0.9em;
    font-weight: 600;
}

.contact-time-sdt .contact li i{
    margin-right: 5px;
    font-size: 1.3em;
}

.contact-time-sdt .contact>li+li>a::after{
    content: "";
    width: 1px;
    height: 15px;
    position: absolute;
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    top: 50%;
    left: -1em;
    margin-top: -7px;
    border-color: rgba(255,255,255,0.2);
}

.head-header li a{
    color: #fff;
} 

.contact-mxh .contact{
    position: relative;
    display: flex;
}

.contact-mxh .contact li{
    margin: 0 0.1em;
}

.contact-mxh .contact li a i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    transition: 0.3s ease;
    border: 1px solid ;
    margin: 0 0.1em;
}

.fab{
    border-radius: 50%;
    font-size: 1.1em;
}

.fa-facebook-f{
    background-color: var(--facebook);
    border-color: var(--facebook) !important;
}

.fa-youtube{
    background-color: var(--youtube);
    border-color: var(--youtube) !important;
}

.fa-instagram{
    background-color: var(--instagram);
    border-color: var(--instagram) !important;
}

.fa-facebook-f:hover{
    background-color: var(--facebook-hover);
}

.fa-youtube:hover{
    background-color: var(--youtube-hover);
}

.fa-instagram:hover{
    background-color: var(--instagram-hover);
}

.fa-user{
    margin-left: 1em !important;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 1em;
}
.fa-user:hover{
    background-color: var(--instagram);
    border-color: var(--instagram) !important;
}

.head-driver{
    border-left: 1px solid rgba(0,0,0,0.3);
    height: 30px;
    vertical-align: middle;
    position: relative;
    margin: 0 20px;
    border-color: rgba(255,255,255,0.3);
}

.fa-shopping-basket{
    border: none !important;
    font-size: 1.3em;
}

.contact-mxh .contact .shopping:hover{
    border-bottom: 2px solid var(--facebook);
}

.head-nav{
    position: relative;
    width: 100%;
    min-height: 55px;
    background-color: #0a0a0a;
    display: flex;
    justify-content: center;
}
.id-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.head-nav{
    max-height: 100%;
}

.head-nav .menu-items{
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.menu-items li{
    padding: 20px 5px;
    text-align: center;
    position: relative;
    display: flex;
}

.menu-items li a{
    color: white;
    text-transform: capitalize;
    padding: 0 .2em;
    transition: .3s;
    display: flex;
    align-items: center;
    font-size: .9em;
    font-weight: 700;
    height: 100%;
    width: 100%;
}

.menu-items>li+li>a:after{
    content: "";
    position: absolute;
    top: 50%;
    width: 2px;
    border-left: 1px solid white;
    height: 15px;
    margin-top: -7px;
    left: .1em;
}

.menu-items>li+li>a:after{
    border-color: rgba(255, 255, 255, 0.26);
}


.menu-items li a.active{
    color: rgb(231, 180, 85);
}

.menu-items li:hover a,.menu-items li:hover i{
    color: rgb(231, 180, 85);
}

.menu-items li i{
    font-size: .9rem;
    text-align: center;
    color: rgb(124, 122, 122);
    transition: .6s;
    margin-left: 0.2rem;
    cursor: pointer;
}

.search {
    color: white;
    font-size: 1.2rem;
    line-height: 40px;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    flex: 1;
    width: 100%;
    margin-left: 2em;
}

.search i{
    margin-left: 15px;
    border-radius: 50%;
    border: 1px solid white;
    padding: .5rem .5rem;
    cursor: pointer;
    transition: .3s;
}

.search i:hover{
    background-color: #3b6994;
}

.sub-menu{
    position: absolute;
    display: block;
    background-color:  #dd9a35;
    top: 100%;
    border: 3px solid #fff;
    border-radius: 10px;
    width: 250px;
    opacity: 0;
    visibility: hidden;
    padding: 20px 10px;
    transition: .5s ease;
    z-index: 10;
}

.menu-items li:hover .sub-menu{
    opacity: 1;
    visibility: visible;
}
.menu-items li:hover .sub-menu a{
    color: white;
}

.sub-menu li{
    border: none;
    padding: 10px 0;
    margin: 5px 0;
    transition: .3s;
    border-radius: 10px;
}

.sub-menu li a{
    text-transform: capitalize;
    padding: 0 10px;
}

.sub-menu li:hover{
    background-color: rgb(47, 118, 212);
}

.sub-menu li a:hover{
    color: white;
}

.sub-menu::before, .sub-menu::after{
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-top: 0;
    left: 40px;
}

.sub-menu::before{
    top: -10px;
    border-bottom-color:  #dd9a35;
    z-index: 1;
}

.sub-menu::after{
    top: -13px;
    border-bottom-color:  #fff;
    z-index: 0;
}

@media (max-width: 850px){
    #container-header{
        max-height: 91px;
    }
    .contact-mxh{
        display: none;
    }
    .contact-time-sdt .contact{
        display: none;
    }
    .head-header{
        justify-content: center;
    }
    .search{
        display: none;
    }
    .head-nav{
        width: 250px;
        top: 0;
        position: fixed;
        height: 100%;
        background-color: #F7F5F3;
        
    }
    

    .id-nav {
        display: flex;
        align-items: flex-start;
        justify-content: left;
        height: 100%;
        margin-left: 0;
        max-width: 600px;
    }
    .menu-items{
        display: flex !important;
        flex-flow: column !important;
        width: 100%;
    }
    .menu-items>li+li>a:after {
        display: none;
    }
    .menu-items li{
        width: 100%;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
        transition: 0.5s;
        flex-flow: row wrap;
        position: relative;
        justify-content: space-between;
    }
    .menu-items li a{
        width: auto;
        padding: 0;
        color: rgba(102,102,102,0.85);
        text-transform: uppercase;
        margin-left: 1em;
        padding-right: 1.5em;
        position: inherit;
        display: inline-block;
        white-space: nowrap;
    }
    .menu-items li i{
        width: 15px;
        height: 15px;
        font-size: 1.2em;
        margin-right: 1em;
        position: absolute;
        display: inline-block;
        max-width: 100%;
        cursor: pointer;
        right: 5%;
        z-index: 10000;
    }
    .menu-items li i.quay{
        transform: rotate(180deg);
    }

    .sub-menu{
        width: 100% !important;
        top: -80%;
        left: 0;
        padding: 0;
        width: auto;
        border: none;
        background-color: transparent;
        overflow: hidden;
    }
    .sub-menu li{
        border: none;
        padding-left: 1em;
    }
    .sub-menu li:hover{
        background-color: transparent !important;
    }
    .sub-menu li a:hover{
        color: rgb(70, 68, 68) !important;
    }
    .sub-menu li a{
        width: 100%;
        text-align: left;
        color: rgba(156, 52, 52, 0.85) !important;
        animation: fade 0.3s ease-in-out;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
    }
    .sub-menu::before, .sub-menu::after{
        display: none;
    }
    .menu-items li:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }
    .menu-items li:hover a,.menu-items li:hover i{
        color: rgb(70, 68, 68);
    }
    .sub-menu.show{
        opacity: 1 !important;
        visibility: visible !important;
        position: relative;
        display: block !important;
    }
    .menu-items li:hover .sub-menu{
        display: none;
    }
    

}











